<div style="position: absolute;right: 0%"><ngb-alert *ngIf="dangerMessage" type="danger" (close)="dangerMessage = null">{{ dangerMessage }}</ngb-alert></div>
<div style="position: absolute;right: 0%"><ngb-alert *ngIf="successMessage" type="success" (close)="successMessage = null">{{ successMessage }}</ngb-alert></div>

<div class="login scale-in-center col-sm-12 col-md-6 col-lg-6">

  <div>
      <mat-card>
          <mat-tab-group>
            <mat-tab label="Login">
                <form (ngSubmit) = 'login()' #loginForm>
                    <mat-card>
                      <mat-card-title>Cognizant Outreach</mat-card-title>
                      <mat-card-subtitle>Login</mat-card-subtitle>
                      <div>
                        <mat-form-field appearance="outline">
                          <mat-label>Associate ID</mat-label>
                          <input matInput placeholder="Associate ID" [formControl]="username">
                          <mat-error *ngIf="username.invalid">{{getUsernameErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                        <mat-form-field appearance="outline">
                            <mat-label>Type admin or password</mat-label>
                          <input matInput placeholder="Enter your password" [formControl]="password" [type]="hide ? 'password' : 'text'">
                          <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                          <mat-error *ngIf="password.invalid">{{getPasswordErrorMessage()}}</mat-error>
                        </mat-form-field>
                      </div>
                      <div>
                          <button type="submit" [disabled]="username.invalid || password.invalid" mat-raised-button color="primary">Login</button>
                      </div>
                    </mat-card>
                    </form>
            </mat-tab>
            <mat-tab label="Sign Up">
                <!-- <div style="margin-bottom: 20px" class="login col-sm-12 col-md-12 col-lg-4"> -->
                    <form (ngSubmit) = 'addUser(addUserForm)' #addUserForm>
                    <mat-card>
                    <mat-card-title>Cognizant Outreach</mat-card-title>
                    <mat-card-subtitle>Sign Up</mat-card-subtitle>
                      <div class="col-sm-12 col-md-12">
                          <mat-form-field appearance="outline">
                            <mat-label>Associate ID</mat-label>
                            <input matInput placeholder="Associate ID" [formControl]="associateid">
                            <mat-error *ngIf="associateid.invalid">{{getAssociateIDErrorMessage()}}</mat-error>
                          </mat-form-field>
                      </div>
                      <div class="col-sm-12 col-md-12">
                          <mat-form-field appearance="outline">
                              <mat-select placeholder="Role" [formControl]="roleControl" required>
                                <mat-option>--</mat-option>
                                <mat-option *ngFor="let role of roles" [value]="role">
                                  {{role.name}}
                                </mat-option>
                              </mat-select>
                              <mat-error *ngIf="roleControl.hasError('required')">Please choose a role</mat-error>
                            </mat-form-field>
                      </div>
                      <div class="col-sm-12 col-md-12">
                          <button type="submit" [disabled]="associateid.invalid || roleControl.invalid" mat-raised-button color="primary">Add this user</button>
                      </div>
                      </mat-card>
                  </form>
         <!--          </div> -->
              
            </mat-tab>
            </mat-tab-group>
        </mat-card>
  </div>
  </div>