div {
    font-family: 'Montserrat', sans-serif;
}

.bg-dark {
    background-color: #3f51b5!important;
}

li:hover {
    background-color: gray;
}

/* .login {
    height : 60%;
    margin: 10% auto;
    width: 90%;
    text-align: center
}

.mat-card:not([class*=mat-elevation-z]) {
    //box-shadow: 3px 4px 16px 1px #0039a6;
    box-shadow: 3px 4px 16px 1px black;
} */

